#Daily Challenge :

**Approach to Complex SQLquery Building in Kaggle**

**1. Load and Explore the Data**

In [7]:
from google.colab import files
import sqlite3
import os, pandas as pd
from sqlalchemy import create_engine, inspect
from pathlib import Path
from zipfile import ZipFile

In [12]:
DATA_DIR = "/content/daily_challenge_w7"
DB_PATH  = "/content/database.sqlite"
os.makedirs(DATA_DIR, exist_ok=True)

uploads = files.upload()  #
for name, data in uploads.items():
    with open(os.path.join(DATA_DIR, name), "wb") as f:
        f.write(data)

Saving Approach to Complex SQLquery Building in Kaggle.zip to Approach to Complex SQLquery Building in Kaggle (1).zip

In [13]:
zip_file_path = 'Approach to Complex SQLquery Building in Kaggle.zip'
destination_directory = 'daily_challenge_w7'

os.makedirs(destination_directory, exist_ok=True)
with ZipFile(zip_file_path, 'r') as zip_object:
    # Extract all the contents into the specified directory
    zip_object.extractall(destination_directory)

print(f"Files extracted to: {destination_directory}")

Files extracted to: daily_challenge_w7

In [16]:
engine = create_engine(f"sqlite:///{DATA_DIR}/database.sqlite", echo=False)
inspector = inspect(engine)
table_names = inspector.get_table_names()

if table_names:
    # Assuming the user wants to load the first table into a DataFrame named 'df'
    # consistent with the subsequent `df.head()` call.
    df = pd.read_sql_table(table_names[0], con=engine)
    print(f"Successfully loaded table '{table_names[0]}' into DataFrame 'df'.")
else:
    print("No tables found in the database.")

Successfully loaded table 'Ball_by_Ball' into DataFrame 'df'.

In [22]:
sql_query_result = pd.read_sql_query("SELECT * FROM Ball_by_Ball LIMIT 5;", con=engine)
display(sql_query_result)

,Match_Id,Over_Id,Ball_Id,Innings_No,Team_Batting,Team_Bowling,Striker_Batting_Position,Striker,Non_Striker,Bowler
0,335987,1,1,1,1,2,1,1,2,14
1,335987,1,1,2,2,1,1,6,7,106
2,335987,1,2,1,1,2,2,2,1,14
3,335987,1,2,2,2,1,2,7,6,106
4,335987,1,3,1,1,2,2,2,1,14

In [23]:
dfs = {}
for table_name in table_names:
    dfs[table_name] = pd.read_sql_table(table_name, con=engine)
    print(f"Loaded table '{table_name}' into DataFrame '{table_name}'.")

print("All tables loaded successfully into the 'dfs' dictionary.")

Loaded table 'Ball_by_Ball' into DataFrame 'Ball_by_Ball'.
Loaded table 'Batsman_Scored' into DataFrame 'Batsman_Scored'.
Loaded table 'Batting_Style' into DataFrame 'Batting_Style'.
Loaded table 'Bowling_Style' into DataFrame 'Bowling_Style'.
Loaded table 'City' into DataFrame 'City'.
Loaded table 'Country' into DataFrame 'Country'.
Loaded table 'Extra_Runs' into DataFrame 'Extra_Runs'.
Loaded table 'Extra_Type' into DataFrame 'Extra_Type'.
Loaded table 'Match' into DataFrame 'Match'.
Loaded table 'Out_Type' into DataFrame 'Out_Type'.
Loaded table 'Outcome' into DataFrame 'Outcome'.
Loaded table 'Player' into DataFrame 'Player'.
Loaded table 'Player_Match' into DataFrame 'Player_Match'.
Loaded table 'Rolee' into DataFrame 'Rolee'.
Loaded table 'Season' into DataFrame 'Season'.
Loaded table 'Team' into DataFrame 'Team'.
Loaded table 'Toss_Decision' into DataFrame 'Toss_Decision'.
Loaded table 'Umpire' into DataFrame 'Umpire'.
Loaded table 'Venue' into DataFrame 'Venue'.
Loaded table 'Wicket_Taken' into DataFrame 'Wicket_Taken'.
Loaded table 'Win_By' into DataFrame 'Win_By'.
Loaded table 'sysdiagrams' into DataFrame 'sysdiagrams'.
All tables loaded successfully into the 'dfs' dictionary.

In [24]:
for table_name, df_table in dfs.items():
    print(f"\nTable Name: {table_name}")
    print(f"Column Names: {df_table.columns.tolist()}")

Table Name: Ball_by_Ball
Column Names: ['Match_Id', 'Over_Id', 'Ball_Id', 'Innings_No', 'Team_Batting', 'Team_Bowling', 'Striker_Batting_Position', 'Striker', 'Non_Striker', 'Bowler']

Table Name: Batsman_Scored
Column Names: ['Match_Id', 'Over_Id', 'Ball_Id', 'Runs_Scored', 'Innings_No']

Table Name: Batting_Style
Column Names: ['Batting_Id', 'Batting_hand']

Table Name: Bowling_Style
Column Names: ['Bowling_Id', 'Bowling_skill']

Table Name: City
Column Names: ['City_Id', 'City_Name', 'Country_id']

Table Name: Country
Column Names: ['Country_Id', 'Country_Name']

Table Name: Extra_Runs
Column Names: ['Match_Id', 'Over_Id', 'Ball_Id', 'Extra_Type_Id', 'Extra_Runs', 'Innings_No']

Table Name: Extra_Type
Column Names: ['Extra_Id', 'Extra_Name']

Table Name: Match
Column Names: ['Match_Id', 'Team_1', 'Team_2', 'Match_Date', 'Season_Id', 'Venue_Id', 'Toss_Winner', 'Toss_Decide', 'Win_Type', 'Win_Margin', 'Outcome_type', 'Match_Winner', 'Man_of_the_Match']

Table Name: Out_Type
Column Names: ['Out_Id', 'Out_Name']

Table Name: Outcome
Column Names: ['Outcome_Id', 'Outcome_Type']

Table Name: Player
Column Names: ['Player_Id', 'Player_Name', 'DOB', 'Batting_hand', 'Bowling_skill', 'Country_Name']

Table Name: Player_Match
Column Names: ['Match_Id', 'Player_Id', 'Role_Id', 'Team_Id']

Table Name: Rolee
Column Names: ['Role_Id', 'Role_Desc']

Table Name: Season
Column Names: ['Season_Id', 'Man_of_the_Series', 'Orange_Cap', 'Purple_Cap', 'Season_Year']

Table Name: Team
Column Names: ['Team_Id', 'Team_Name']

Table Name: Toss_Decision
Column Names: ['Toss_Id', 'Toss_Name']

Table Name: Umpire
Column Names: ['Umpire_Id', 'Umpire_Name', 'Umpire_Country']

Table Name: Venue
Column Names: ['Venue_Id', 'Venue_Name', 'City_Id']

Table Name: Wicket_Taken
Column Names: ['Match_Id', 'Over_Id', 'Ball_Id', 'Player_Out', 'Kind_Out', 'Fielders', 'Innings_No']

Table Name: Win_By
Column Names: ['Win_Id', 'Win_Type']

Table Name: sysdiagrams
Column Names: ['name', 'principal_id', 'diagram_id', 'version', 'definition']

In [25]:
column_occurrences = {}

for table_name, df_table in dfs.items():
    for col in df_table.columns:
        if col not in column_occurrences:
            column_occurrences[col] = set()
        column_occurrences[col].add(table_name)

print("Common Columns Across Tables:")
common_columns_list = []
for col, tables in column_occurrences.items():
    if len(tables) > 1:
        print(f"- Column '{col}' appears in tables: {list(tables)}")
        common_columns_list.append({"column": col, "tables": list(tables)})

Common Columns Across Tables:
- Column 'Match_Id' appears in tables: ['Batsman_Scored', 'Extra_Runs', 'Match', 'Player_Match', 'Wicket_Taken', 'Ball_by_Ball']
- Column 'Over_Id' appears in tables: ['Extra_Runs', 'Wicket_Taken', 'Ball_by_Ball', 'Batsman_Scored']
- Column 'Ball_Id' appears in tables: ['Extra_Runs', 'Wicket_Taken', 'Ball_by_Ball', 'Batsman_Scored']
- Column 'Innings_No' appears in tables: ['Extra_Runs', 'Wicket_Taken', 'Ball_by_Ball', 'Batsman_Scored']
- Column 'Batting_hand' appears in tables: ['Batting_Style', 'Player']
- Column 'Bowling_skill' appears in tables: ['Bowling_Style', 'Player']
- Column 'City_Id' appears in tables: ['Venue', 'City']
- Column 'Country_Name' appears in tables: ['Country', 'Player']
- Column 'Season_Id' appears in tables: ['Match', 'Season']
- Column 'Venue_Id' appears in tables: ['Match', 'Venue']
- Column 'Win_Type' appears in tables: ['Match', 'Win_By']
- Column 'Player_Id' appears in tables: ['Player_Match', 'Player']
- Column 'Role_Id' appears in tables: ['Player_Match', 'Rolee']
- Column 'Team_Id' appears in tables: ['Team', 'Player_Match']

**Query 1: Select All Columns from Playerâ€™s Table**

Write and execute a SQL query to select all columns from the Player_Match table.

In [53]:
q1 = """
SELECT *
FROM Player_Match;
"""
df_q1 = pd.read_sql_query(q1, con=engine)
df_q1.head(10) #showing all columns from the table Player_Match

   Match_Id  Player_Id  Role_Id  Team_Id
0    335987          1        1        1
1    335987          2        3        1
2    335987          3        3        1
3    335987          4        3        1
4    335987          5        3        1
5    335987          6        1        2
6    335987          7        3        2
7    335987          8        3        2
8    335987          9        3        2
9    335987         10        3        2

**Query 2: Batsman vs Runs**

Write and execute a SQL query to calculate the total runs scored by each batsman.

In [52]:
q2 = """
SELECT
    P.Player_Name,
    SUM(BS.Runs_Scored) AS Total_Runs
FROM
    Batsman_Scored AS BS
JOIN
    Ball_by_Ball AS BBB ON
    BS.Match_Id = BBB.Match_Id AND
    BS.Over_Id = BBB.Over_Id AND
    BS.Ball_Id = BBB.Ball_Id AND
    BS.Innings_No = BBB.Innings_No
JOIN
    Player AS P ON BBB.Striker = P.Player_Id
GROUP BY
    P.Player_Name
ORDER BY
    Total_Runs DESC;
"""
df_q2 = pd.read_sql_query(q2, con=engine)
df_q2.head(20)

       Player_Name  Total_Runs
0         SK Raina        4106
1          V Kohli        4105
2        RG Sharma        3874
3        G Gambhir        3634
4         CH Gayle        3447
5       RV Uthappa        3390
6        DA Warner        3373
7         MS Dhoni        3270
8   AB de Villiers        3270
9         S Dhawan        3082
10       YK Pathan        2779
11        V Sehwag        2728
12       AM Rahane        2675
13       SR Watson        2553
14      KD Karthik        2542
15         M Vijay        2511
16     BB McCullum        2435
17       JH Kallis        2427
18    Yuvraj Singh        2339
19    SR Tendulkar        2329

**Query 3: Fifties and Hundreds**

Write and execute a SQL query to calculate the number of fifties and hundreds scored by each batsman.

In [51]:
q3 = """
WITH BatsmanInningsScores AS (
    SELECT
        P.Player_Name,
        BS.Match_Id,
        BS.Innings_No,
        SUM(BS.Runs_Scored) AS Total_Runs_in_Innings
    FROM
        Batsman_Scored AS BS
    JOIN
        Ball_by_Ball AS BBB ON
        BS.Match_Id = BBB.Match_Id AND
        BS.Over_Id = BBB.Over_Id AND
        BS.Ball_Id = BBB.Ball_Id AND
        BS.Innings_No = BBB.Innings_No
    JOIN
        Player AS P ON BBB.Striker = P.Player_Id
    GROUP BY
        P.Player_Name, BS.Match_Id, BS.Innings_No
)
SELECT
    Player_Name,
    SUM(CASE WHEN Total_Runs_in_Innings >= 50 AND Total_Runs_in_Innings < 100 THEN 1 ELSE 0 END) AS Fifties,
    SUM(CASE WHEN Total_Runs_in_Innings >= 100 THEN 1 ELSE 0 END) AS Hundreds
FROM
    BatsmanInningsScores
GROUP BY
    Player_Name
ORDER BY
    Hundreds DESC, Fifties DESC;
"""
q3_df = pd.read_sql_query(q3, con=engine)
q3_df.head(20)

         Player_Name  Fifties  Hundreds
0           CH Gayle       20         5
1            V Kohli       26         4
2     AB de Villiers       21         3
3          DA Warner       32         2
4           V Sehwag       16         2
5          SR Watson       14         2
6            M Vijay       13         2
7       AC Gilchrist       11         2
8        BB McCullum       11         2
9          RG Sharma       29         1
10          SK Raina       28         1
11         AM Rahane       23         1
12          SE Marsh       18         1
13        MEK Hussey       15         1
14      SR Tendulkar       13         1
15         YK Pathan       12         1
16  DPMD Jayawardene       10         1
17       LMP Simmons        9         1
18         DA Miller        8         1
19         MK Pandey        7         1

**Query 4: Best Bowling Figures**

Write and execute a SQL query to find the best bowling figures for each bowler.

In [50]:
q4 = """
WITH RankedBowlerPerformance AS (
    SELECT
        Player_Name,
        Match_Id,
        Innings_No,
        Wickets_Taken,
        Runs_Conceded,
        ROW_NUMBER() OVER (PARTITION BY Player_Name ORDER BY Wickets_Taken DESC, Runs_Conceded ASC) as rn
    FROM
        (SELECT
            P.Player_Name,
            BBB_Unique.Match_Id,
            BBB_Unique.Innings_No,
            COALESCE(BW.Wickets_Taken, 0) AS Wickets_Taken,
            COALESCE(BR.Runs_Conceded, 0) AS Runs_Conceded
        FROM (
            SELECT DISTINCT Match_Id, Innings_No, Bowler FROM Ball_by_Ball
        ) AS BBB_Unique
        JOIN
            Player AS P ON BBB_Unique.Bowler = P.Player_Id
        LEFT JOIN
            (
                SELECT
                    BBB.Match_Id,
                    BBB.Innings_No,
                    BBB.Bowler AS Bowler_Id,
                    SUM(
                        COALESCE(BS.Runs_Scored, 0) +
                        CASE WHEN ET.Extra_Name IN ('wide', 'noball') THEN COALESCE(ER.Extra_Runs, 0) ELSE 0 END
                    ) AS Runs_Conceded
                FROM
                    Ball_by_Ball AS BBB
                LEFT JOIN
                    Batsman_Scored AS BS ON
                    BBB.Match_Id = BS.Match_Id AND
                    BBB.Over_Id = BS.Over_Id AND
                    BBB.Ball_Id = BS.Ball_Id AND
                    BBB.Innings_No = BS.Innings_No
                LEFT JOIN
                    Extra_Runs AS ER ON
                    BBB.Match_Id = ER.Match_Id AND
                    BBB.Over_Id = ER.Over_Id AND
                    BBB.Ball_Id = ER.Ball_Id AND
                    BBB.Innings_No = ER.Innings_No
                LEFT JOIN
                    Extra_Type AS ET ON ER.Extra_Type_Id = ET.Extra_Id
                GROUP BY
                    BBB.Match_Id, BBB.Innings_No, BBB.Bowler
            ) AS BR ON
            BBB_Unique.Match_Id = BR.Match_Id AND
            BBB_Unique.Innings_No = BR.Innings_No AND
            BBB_Unique.Bowler = BR.Bowler_Id
        LEFT JOIN
            (
                SELECT
                    BBB.Match_Id,
                    BBB.Innings_No,
                    BBB.Bowler AS Bowler_Id,
                    SUM(CASE WHEN OT.Out_Name NOT IN ('run out', 'retired hurt') AND WT.Player_Out IS NOT NULL THEN 1 ELSE 0 END) AS Wickets_Taken
                FROM
                    Ball_by_Ball AS BBB
                LEFT JOIN
                    Wicket_Taken AS WT ON
                    BBB.Match_Id = WT.Match_Id AND
                    BBB.Over_Id = WT.Over_Id AND
                    BBB.Ball_Id = WT.Ball_Id AND
                    BBB.Innings_No = WT.Innings_No
                LEFT JOIN
                    Out_Type AS OT ON WT.Kind_Out = OT.Out_Id
                GROUP BY
                    BBB.Match_Id, BBB.Innings_No, BBB.Bowler
            ) AS BW ON
            BBB_Unique.Match_Id = BW.Match_Id AND
            BBB_Unique.Innings_No = BW.Innings_No AND
            BBB_Unique.Bowler = BW.Bowler_Id
        )
)
SELECT
    Player_Name,
    Wickets_Taken,
    Runs_Conceded,
    Match_Id,
    Innings_No
FROM
    RankedBowlerPerformance
WHERE
    rn = 1
ORDER BY
    Wickets_Taken DESC, Runs_Conceded ASC;
"""
q4_df = pd.read_sql_query(q4, con=engine)
q4_df.head(20)

        Player_Name  Wickets_Taken  Runs_Conceded  Match_Id  Innings_No
0     Sohail Tanvir              6             14    336010           1
1           A Zampa              6             19    980984           1
2          A Kumble              5              5    392187           2
3          I Sharma              5             11    501234           2
4        SL Malinga              5             12    501206           1
5       JP Faulkner              5             14    598070           1
6         RA Jadeja              5             16    548316           2
7          A Mishra              5             17    336025           2
8   Harbhajan Singh              5             17    501226           2
9         SP Narine              5             18    548328           1
10         MM Patel              5             21    501256           1
11         L Balaji              5             23    336018           2
12   AD Mascarenhas              5             24    548324           1
13       JD Unadkat              5             24    598059           2
14        RG Sharma              4              6    392217           2
15         DR Smith              4              7    981006           1
16        CJ Jordan              4              9    980992           2
17          A Nehra              4             10    829750           2
18    Shoaib Akhtar              4             10    336022           2
19         MA Starc              4             11    829790           2

**Query 5: Comprehensive Career Metrics**

Combine all the previous chunks into a single comprehensive query to get detailed career metrics for players.

In [54]:
q5 = """
WITH TotalRunsCTE AS (
    SELECT
        P.Player_Name,
        SUM(BS.Runs_Scored) AS Total_Runs
    FROM
        Batsman_Scored AS BS
    JOIN
        Ball_by_Ball AS BBB ON
        BS.Match_Id = BBB.Match_Id AND
        BS.Over_Id = BBB.Over_Id AND
        BS.Ball_Id = BBB.Ball_Id AND
        BS.Innings_No = BBB.Innings_No
    JOIN
        Player AS P ON BBB.Striker = P.Player_Id
    GROUP BY
        P.Player_Name
),
BatsmanInningsScores AS (
    SELECT
        P.Player_Name,
        BS.Match_Id,
        BS.Innings_No,
        SUM(BS.Runs_Scored) AS Total_Runs_in_Innings
    FROM
        Batsman_Scored AS BS
    JOIN
        Ball_by_Ball AS BBB ON
        BS.Match_Id = BBB.Match_Id AND
        BS.Over_Id = BBB.Over_Id AND
        BS.Ball_Id = BBB.Ball_Id AND
        BS.Innings_No = BBB.Innings_No
    JOIN
        Player AS P ON BBB.Striker = P.Player_Id
    GROUP BY
        P.Player_Name, BS.Match_Id, BS.Innings_No
),
FiftiesHundredsCTE AS (
    SELECT
        Player_Name,
        SUM(CASE WHEN Total_Runs_in_Innings >= 50 AND Total_Runs_in_Innings < 100 THEN 1 ELSE 0 END) AS Fifties,
        SUM(CASE WHEN Total_Runs_in_Innings >= 100 THEN 1 ELSE 0 END) AS Hundreds
    FROM
        BatsmanInningsScores
    GROUP BY
        Player_Name
),
BowlerRuns AS (
    SELECT
        BBB.Match_Id,
        BBB.Innings_No,
        BBB.Bowler AS Bowler_Id,
        SUM(
            COALESCE(BS.Runs_Scored, 0) +
            CASE WHEN ET.Extra_Name IN ('wide', 'noball') THEN COALESCE(ER.Extra_Runs, 0) ELSE 0 END
        ) AS Runs_Conceded
    FROM
        Ball_by_Ball AS BBB
    JOIN
        Batsman_Scored AS BS ON
        BBB.Match_Id = BS.Match_Id AND
        BBB.Over_Id = BS.Over_Id AND
        BBB.Ball_Id = BS.Ball_Id AND
        BBB.Innings_No = BS.Innings_No
    JOIN
        Extra_Runs AS ER ON
        BBB.Match_Id = ER.Match_Id AND
        BBB.Over_Id = ER.Over_Id AND
        BBB.Ball_Id = ER.Ball_Id AND
        BBB.Innings_No = ER.Innings_No
    JOIN
        Extra_Type AS ET ON ER.Extra_Type_Id = ET.Extra_Id
    GROUP BY
        BBB.Match_Id, BBB.Innings_No, BBB.Bowler
),
BowlerWickets AS (
    SELECT
        BBB.Match_Id,
        BBB.Innings_No,
        BBB.Bowler AS Bowler_Id,
        SUM(CASE WHEN OT.Out_Name NOT IN ('run out', 'retired hurt') AND WT.Player_Out IS NOT NULL THEN 1 ELSE 0 END) AS Wickets_Taken
    FROM
        Ball_by_Ball AS BBB
    LEFT JOIN
        Wicket_Taken AS WT ON
        BBB.Match_Id = WT.Match_Id AND
        BBB.Over_Id = WT.Over_Id AND
        BBB.Ball_Id = WT.Ball_Id AND
        BBB.Innings_No = WT.Innings_No
    LEFT JOIN
        Out_Type AS OT ON WT.Kind_Out = OT.Out_Id
    GROUP BY
        BBB.Match_Id, BBB.Innings_No, BBB.Bowler
),
BowlerPerformance AS (
    SELECT
        P.Player_Name,
        BBB_Unique.Match_Id,
        BBB_Unique.Innings_No,
        COALESCE(BW.Wickets_Taken, 0) AS Wickets_Taken,
        COALESCE(BR.Runs_Conceded, 0) AS Runs_Conceded
    FROM (
        SELECT DISTINCT Match_Id, Innings_No, Bowler FROM Ball_by_Ball
    ) AS BBB_Unique
    JOIN
        Player AS P ON BBB_Unique.Bowler = P.Player_Id
    LEFT JOIN
        BowlerRuns AS BR ON
        BBB_Unique.Match_Id = BR.Match_Id AND
        BBB_Unique.Innings_No = BR.Innings_No AND
        BBB_Unique.Bowler = BR.Bowler_Id
    LEFT JOIN
        BowlerWickets AS BW ON
        BBB_Unique.Match_Id = BW.Match_Id AND
        BBB_Unique.Innings_No = BW.Innings_No AND
        BBB_Unique.Bowler = BW.Bowler_Id
),
RankedBowlerPerformance AS (
    SELECT
        Player_Name,
        Wickets_Taken,
        Runs_Conceded,
        ROW_NUMBER() OVER (PARTITION BY Player_Name ORDER BY Wickets_Taken DESC, Runs_Conceded ASC) as rn
    FROM
        BowlerPerformance
)
SELECT
    P.Player_Id,
    P.Player_Name,
    COALESCE(TR.Total_Runs, 0) AS Total_Runs,
    COALESCE(FH.Fifties, 0) AS Fifties,
    COALESCE(FH.Hundreds, 0) AS Hundreds,
    COALESCE(RBP.Wickets_Taken, 0) AS Best_Wickets_Taken,
    COALESCE(RBP.Runs_Conceded, 0) AS Best_Runs_Conceded
FROM
    Player AS P
LEFT JOIN
    TotalRunsCTE AS TR ON P.Player_Name = TR.Player_Name
LEFT JOIN
    FiftiesHundredsCTE AS FH ON P.Player_Name = FH.Player_Name
LEFT JOIN
    RankedBowlerPerformance AS RBP ON P.Player_Name = RBP.Player_Name AND RBP.rn = 1
ORDER BY
    P.Player_Name;
"""
q5_df = pd.read_sql_query(q5, con=engine)
q5_df.head(20)

,Player_Id,Player_Name,Total_Runs,Fifties,Hundreds,Best_Wickets_Taken,Best_Runs_Conceded
0,325,A Ashish Reddy,280,0,0,3,0
1,335,A Chandila,4,0,0,4,0
2,128,A Chopra,53,0,0,0,0
3,155,A Flintoff,62,0,0,1,0
4,124,A Kumble,35,0,0,5,0
5,136,A Mishra,291,0,0,5,0
6,244,A Mithun,34,0,0,2,0
7,152,A Mukund,19,0,0,0,0
8,73,A Nehra,41,0,0,4,0
9,438,A Nel,0,0,0,1,0
10,196,A Singh,2,0,0,4,1
11,56,A Symonds,974,5,1,3,0
12,213,A Uniyal,4,0,0,2,0
13,430,A Zampa,0,0,0,6,0
14,172,AA Bilakhia,69,0,0,0,0
15,297,AA Chavan,12,0,0,2,0
16,211,AA Jhunjhunwala,217,1,0,1,0
17,445,AA Kazi,0,0,0,0,0
18,13,AA Noffke,9,0,0,1,0
19,82,AB Agarkar,179,0,0,3,0